.background2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-image: url("http://st.depositphotos.com/1689803/1375/i/450/depositphotos_13754660-Colorful-of-sunset-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  height: 150px;
  width: 150px;
  background-color: var(--bg-light);
  border-radius: var(--margin-small);
  font-family: "Playfair Display", serif;
  text-align: center;
}

.btn {
  background-color: var(--bg-light);
  padding: calc(2 * var(--margin-small));
  margin-bottom: calc(2 * var(--margin-small));
  font-family: "Playfair Display", serif;
}
