.background {
  background-image: url("http://st.depositphotos.com/1689803/1375/i/450/depositphotos_13754660-Colorful-of-sunset-sky.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  margin-top: calc(2 * var(--margin-small));
}

#searchButton,
.locationSearch {
  background-color: var(--bg-light);
  padding: var(--margin-small);
  border: 1px solid var(--bg-light);
  border-radius: var(--margin-small);
  margin-right: var(--margin-small);
}

.locationSearch {
  margin-top: calc(2 * var(--margin-small));
}

#searchButton {
  padding: var(--margin-small);
  border-radius: 50%;
}

#searchButton:hover,
.locationSearch:hover {
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-dark);
}

@media (max-width: 768px) {
  #searchButton,
  .locationSearch {
    height: 35px;
  }

  .background {
    height: 100vh;
  }
}
