.rainy,
.sunny {
  height: 100vh;
  width: 80vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: var(--font-small);
}

.rainy {
  background-image: url("http://st.depositphotos.com/1000123/1701/i/450/depositphotos_17018933-Abstract-sea-and-ocean-backgrounds-for-your-design.jpg");
}

.sunny {
  background-image: url("http://static9.depositphotos.com/1593759/1168/i/450/depositphotos_11687543-The-sun-above-the-horizon.jpg");
}

#searchButton,
.locationSearch {
  background-color: var(--bg-light);
  padding: var(--margin-small);
  border: 1px solid var(--bg-light);
  border-radius: var(--margin-small);
  margin: var(--margin-small);
}

#searchButton {
  padding: var(--margin-small);
  border-radius: 50%;
}

#searchButton:hover,
.locationSearch:hover {
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-dark);
}

.currentWeather {
  margin-top: var(--font-small);
  display: flex;
}

.image {
  height: 200px;
}

.grade {
  font-size: 35px;
  font-family: "Playfair Display", serif;
}

#favoriteButton,
.theme {
  height: calc(2 * var(--font-small));
  padding: var(--margin-small);
  border: 1px solid var(--bg-dark);
  background-color: var(--bg-dark);
}

.theme {
  margin-right: var(--font-small);
  margin-top: var(--font-small);
}

#favoriteButton:hover,
.theme:hover {
  border: 1px solid var(--text-secondary);
  background-color: var(--text-secondary);
}

.forecastBtn {
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-dark);
  border-radius: var(--margin-small);
  color: var(--text-light);
  text-decoration: none;
  font-size: var(--font-small);
  font-family: "Playfair Display", serif;
  padding: var(--margin-small);
}

.forecastBtn:hover {
  color: var(--text-dark);
}

.alert {
  width: 250px;
  background-color: var(--bg-dark);
  border: 1px solid var(--bg-dark);
  color: var(--text-light);
  margin-top: 5px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 768px) {
  .rainy,
  .sunny {
    width: 100%;
  }

  h5 {
    font-size: var(--font-small);
  }

  .grade {
    font-size: 25px;
  }

  .content {
    margin-top: calc(3 * var(--font-small));
  }
  #searchButton,
  .locationSearch {
    height: calc(2 * var(--font-small));
  }
  .image {
    height: 100px;
  }

  .alert {
    font-size: var(--font-small);
    width: 220px;
  }
}
