.leftSide {
  background-color: var(--bg-dark);
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  font-family: "Playfair Display", serif;
  padding: calc(2 * var(--margin-small));
  margin-left: calc(2 * var(--margin-small));
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
}

.li {
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}

.li:hover {
  color: var(--bg-light);
}

@media (max-width: 768px) {
  .leftSide {
    background-color: var(--bg-dark);
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  h2 {
    font-size: var(--font-small);
    padding-top: calc(2 * var(--margin-small));
  }

  .li {
    font-size: 15px;
  }

  .dropdownMenu {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .displayMobileMenu {
    display: block;
    width: 100%;

    position: absolute;
    z-index: 2;
    top: 30px;
    left: 0;
    background-color: var(--bg-dark);
  }
}
