.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout main {
  flex-grow: 1;
  text-align: center;
}
.background1,
.background2 {
  background-image: url("http://st.depositphotos.com/1689803/1375/i/450/depositphotos_13754660-Colorful-of-sunset-sky.jpg");
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.background2 {
  background-position: bottom;
}

.li {
  font-size: 30px;
  color: var(--text-dark);
  text-decoration: none;
  font-family: "Playfair Display", serif;
  padding: calc(2 * var(--margin-small));
}

.li:hover {
  color: var(--bg-light);
}

.Navbar {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .li {
    font-size: var(--font-small);
  }

  footer {
    background-position: bottom;
  }

  .background2 {
    height: 140px;
    z-index: -1;
  }

  .background1 {
    height: 60px;
  }
}
