:root {
  --bg-dark: rgb(26, 108, 136);
  --bg-light: rgba(164, 212, 230, 0.4);
  --text-secondary: rgb(101, 129, 138);
  --text-light: rgb(255, 255, 255);
  --text-dark: rgb(0, 0, 0);
  --font-small: 1.125rem;
  --margin-small: 0.313rem;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: "Playfair Display", serif;
}

p {
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
